*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}

#page2{
    width: 100%;
    height: 100vh;
    background-color: #556043;
    padding:5vw;
}

#page2 h1{
    font-family: 'PP Woodland Regular';
    font-size: 4.5vw;
    line-height: 4.3vw;
    color:#434B34;
    text-align: center;
    font-weight: 400;
}

#page3{
    width: 100%;
    height: 100vh;
    background-color: #f7cfcf;
}